html {
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    color: #141414
}

header, body {
    margin: 0;
    padding: 0;
}

header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    border-bottom: 1px solid #ddd;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title-bar {
    background-color: #002e5d;
    color: white;
    margin: 0;
    padding: 0 20px ;
    text-align: left;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login-header-link {
    text-decoration: none;;
    font-weight: 500;
    font-size: large;
    color: white;
}

#app-title {
    padding-left: 5px;
}

nav {
    background-color: white;
    color: #002e5d;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
        margin: 0;
        padding: 10px 20px;
        display: block;
        gap: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #002e5d;
    font-weight: bold;
}

.default-button {
    display: inline-block;
    text-decoration: none;
    background-color: #0047BA;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
}

#schedule-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid slategray;
    margin-top: 20px;
    table-layout: fixed;
}

#schedule-table th, #schedule-table td {
    border: 2px solid slategray;
    text-align: center;
    min-width: 70px;
}

#schedule-container {
    width: 85vw;
    margin: 0 auto;
    justify-content: center;
}

.schedule-cell {
    padding: 0;
}

.cell-slices {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.slice {
    display: block;
    border: 1px solid #ccc;
    background: white;
    height: 100%;
    cursor: pointer;
    min-height: 60px;
    min-width: 5px;
    margin: 0;
    padding: 0;
}

.slice.selected {
  background: #0047ba;
}

#schedule-container, #schedule-table, .slice {
    user-select: none;
}

#approval-container {
    width: 85vw;
    margin: 0 auto;
}

.pending-list a.selected {
    background-color: white;
    color: #002e5d;
    border: 2px solid #001f3f;
}
