html {
    font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
    color: #141414
}

nav {
    background-color: white;
    color: #002e5d;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
        gap: 20px;
        li {
            display: inline-block;
            margin-right: 20px;
        }

    }
}