{{define "content"}}
<div id="approval-container">
    <h2>Schedule Approvals</h2>
    <div class="pending-list">
        {{if .PendingSchedules}}
            {{range .PendingSchedules}}
                <a 
                    href="/admin?username={{.Username}}"
                    hx-get="/admin?username={{.Username}}"
                    hx-target="#review-detail"
                    hx-swap="outerHTML"
                    class="default-button {{if and $.SelectedPendingSchedule (eq $.SelectedPendingSchedule.Username .Username)}}selected{{end}}">{{.Username}}</a>
            {{end}}
        {{else}}
            <p>No pending schedules to review.</p>
        {{end}}
    </div>
    {{template "admin_review_detail" .}}

</div>
{{end}}

{{define "admin_review_detail"}}
    <div id="review-detail" class="review-detail">
        {{if .SelectedPendingSchedule}}
            <h3>{{.SelectedPendingSchedule.Username}}</h3>
            <div class="review-actions">
                <button type="button" class="default-button" style="background-color: #006141;">Approve</button>
                <button type="button" class="default-button" style="background-color: #A3082A;">Reject</button>
            </div>
            {{template "week_view" .}}
        {{else}}
            <p>No pending schedules to review.</p>
        {{end}}
    </div>
{{end}}