{{define "content"}}
    <div id="login-container">
        <h2>Login</h2>
        <form id="login-form" hx-post="/login" hx-target="#login-errors" hx-swap="outerHTML">
            {{template "login_errors" .}}
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="default-button">Sign In</button>
        </form>
    </div>
{{end}}

{{define "login_errors"}}
    <div id="login-errors" login-errors>
        {{range .LoginErrors}}
            <p style="color: #A3082A">{{.}}</p>
        {{end}}
    </div>
{{end}}