{{define "content"}}
    <div id="schedule-container">
        <h2>Your Schedule</h2>

        <div id="schedule-feedback">
            {{range .ValidationErrors}}
                <p>{{.}}</p>
            {{end}}
        </div>

        {{if eq .CurrentScheduleStatus "pending"}}
            <div id="save-status">Status: Pending Approval</div>
        {{else if eq .CurrentScheduleStatus "approved"}}
            <div id="save-status">Status: Approved</div>
        {{else if eq .CurrentScheduleStatus "rejected"}}
            <div id="save-status">Status: Rejected</div>
        {{end}}
        {{if eq .CurrentScheduleStatus "rejected"}}
            {{if .CurrentSubmission.RejectionComment}}
            <div id="rejection-comment">Reason: {{.CurrentSubmission.RejectionComment}}</div>
            {{else}}
            <div id="rejection-comment">Reason: No comment provided</div>
            {{end}}
        {{end}}
        {{if .WeekView.ReadOnly}}

            {{template "week_view" .}}
            {{if .CanEditCurrentSchedule}}
                <button
                    type="button"
                    class="default-button"
                    hx-get="/schedule?edit=true"
                    hx-target="#schedule-container"
                    hx-swap="outerHTML">
                    Edit Schedule
                </button>
            {{end}}

        {{else}}
            <form id="schedule-form" hx-post="/schedule" hx-target="#schedule-container" hx-swap="outerHTML">
                <input type="hidden" name="selected-slots" id="selected-slots">

                {{template "week_view" .}}
                
            {{if .CurrentSubmission}}
                <button
                    type="button"
                    class="default-button"
                    hx-get="/schedule"
                    hx-target="#schedule-container"
                    hx-swap="outerHTML">
                    Cancel
                </button>

                <button type="submit" class="default-button">
                    Resubmit for Approval
                </button>
            {{else}}
                <button type="submit" class="default-button">
                    Submit Schedule
                </button>
            {{end}}
            </form>
        {{end}}
    </div>
{{end}}